<!doctype html>
<html class="fixed">

	{{>admin/admin-head}}
	
	<body>
		<section class="body">

			{{>admin/admin-header}}

			<div class="inner-wrapper">
				
				{{> admin/admin-sidebar}}

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>User Profile</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="index.html">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Pages</span></li>
								<li><span>User Profile</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->

					<div class="row">
						<div class="col-md-4 col-lg-4">

							<section class="panel">
								<div class="panel-body">
									<div class="thumb-info mb-md">
										<img src="assets/images/!logged-user.jpg" class="rounded img-responsive" alt="{{user.name}}">
										<div class="thumb-info-title">
											<span class="thumb-info-inner">{{user.name}}</span>
											<span class="thumb-info-type">{{user.roles}}</span>
										</div>
									</div>								

									<hr class="dotted short">

									<h6 class="text-muted">About</h6>
									<p>This is your profile page, you can see and update your info</p>
									

								</div>
							</section>					

							

						</div>
						<div class="col-md-8 col-lg-8">

							<div class="tabs">
								
								<section class="panel">
								<div>
									<h3 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i>Personal Information</h3>
								</div>
								<div class="panel-body">
									<form action="/admin-modify-user" method="post">
										<input name="id" type="hidden" value="{{user.id}}"/>
										<div class="form-group mb-lg">
										
											<label>User Name</label>
											<input name="name" type="text" class="form-control input-lg" value="{{user.name}}"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Password</label>
											<input name="passwordHash" type="password" class="form-control input-lg" value="{{user.passwordHash}}"/>
										</div>
							
										<div class="form-group mb-lg">
											<label>DNI</label>
											<input name="dni" type="text" class="form-control input-lg"  value="{{user.dni}}"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Email</label>
											<input name="email" type="text" class="form-control input-lg" value="{{user.email}}" />
										</div>
										
										<div class="form-group mb-lg">
											<label>Telephone</label>
											<input name="telephone" type="text" class="form-control input-lg" value="{{user.telephone}}"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Address</label>
											<input name="address" type="text" class="form-control input-lg" value="{{user.address}}"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Avatar</label>
											<input name="avatar" type="text" class="form-control input-lg" value="{{user.avatar}}"/>
										</div>
										
										
										<footer class="panel-footer">
											<button class="btn btn-primary">Submit </button>
											<button type="reset" class="btn btn-default">Reset</button>
										</footer>
									
									</form>
								</div>
						</section>
						</div>
						

					</div>
					<!-- end: page -->
				</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>
			
								<ul>
									<li>
										<time datetime="2016-04-19T00:00+00:00">04/19/2016</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>
			
							<div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div>
			
						</div>
					</div>
				</div>
			</aside>
		</section>

		{{>admin/admin-footer}}

	</body>
</html>