<!-- start: header -->
<header class="header">
	<div class="logo-container">
		<a href="/" class="logo">
			<img src="img/logo2.png" width="150" alt="Planet of the tapes" />
		</a>
		<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
			<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
		</div>
	</div>

	<!-- start: search & user box -->
	<div class="header-right">

		<span class="separator"></span>

		<div id="userbox" class="userbox">
			<a href="#" data-toggle="dropdown">
				<figure class="profile-picture">
					<img src="{{user.avatar}}" alt="Joseph Doe" class="img-circle" data-lock-picture="{{user.avatar}}" />
				</figure>
				<div class="profile-info" data-lock-name="John Doe" data-lock-email="{{user.email}}">
					<span class="name"  style="font-size:18px; font-family:Verdana;">{{user.name}}</span>
				</div>

				<i class="fa custom-caret"></i>
			</a>

			<div class="dropdown-menu">
				<ul class="list-unstyled">
					<li class="divider"></li>
					<li>
						<a role="menuitem" tabindex="-1" href="/admin-user"><i class="fa fa-user"></i> My Profile</a>
					</li>
					<li>
						<a role="menuitem" tabindex="-1" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end: search & user box -->
</header>
<!-- end: header -->