<!doctype html>

<html lang="en">

<html class="fixed">

	{{>admin/admin-head}}

	<body>
		<section class="body">

			{{>admin/admin-header}}

			<div class="inner-wrapper">
				
				{{> admin/admin-sidebar}}

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Products</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="index.html">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Products</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
						
						<section class="panel">
								<div class="panel-title-sign mt-xl text-right">
									<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i>Modify product</h2>
								</div>
									
								
									<form action="/admin-modify-product-action" method="post" enctype="multipart/form-data">
									
									<div class="panel-title-sign mt-xl text-left">
									<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i>Name of the product you want to modify</h2>
								</div>
									<input name="nam" type="text" class="form-control input-lg"/>
									<input class="btn btn-primary" type="button" value="Show" onclick="show()">
									
								<div class="panel-body" id='hidden' style='display:none;'>
								<script type="text/javascript">
									function show(){
										document.getElementById('hidden').style.display = 'block';}
								</script>

										<div class="form-group mb-lg">
											<label>Product Name</label>
											<input name="namep" type="text" class="form-control input-lg"/>
										</div>

										<div class="form-group mb-lg">
											<label>Description</label>
											<input name="descriptionp" type="text" class="form-control input-lg" />
										</div>
							
										<div class="form-group mb-lg">
											<label>Product type</label>
											<input name="typep" type="text" class="form-control input-lg"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Product Genre</label>
											<input name="genrep" type="text" class="form-control input-lg"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Stock</label>
											<input name="stockp" type="number" class="form-control input-lg"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Buying Price</label>
											<input name="pbuyp" type="number" class="form-control input-lg"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Renting Price</label>
											<input name="prentp" type="number" class="form-control input-lg"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Score</label>
											<input name="scorep" type="number" class="form-control input-lg"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Trailer</label>
											<input name="trailerp" type="text" class="form-control input-lg"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Director</label>
											<input name="directorp" type="text" class="form-control input-lg"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Cast</label>
											<input name="castp" type="text" class="form-control input-lg"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Year</label>
											<input name="yearp" type="number" class="form-control input-lg"/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Image</label>
											<input type="file" name="img" required/>
										</div>
										<footer class="panel-footer">
											<button class="btn btn-primary">Submit </button>
											<button type="reset" class="btn btn-default">Reset</button>
										</footer>
									
									</form>
								</div>
						</section>
					<!-- end: page -->
				</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>
			
								<ul>
									<li>
										<time datetime="2016-04-19T00:00+00:00">04/19/2016</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>
			
							<div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="{{user.avatar}}" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">{{user.name}}</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="{{user.avatar}}" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="{{user.avatar}}" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="{{user.avatar}}" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div>
			
						</div>
					</div>
				</div>
			</aside>
		</section>

		{{>admin/admin-footer}}
		
	</body>
</html>