<tr data-item-id="1">
	<td>{{name}}</td>
	<td>{{type}}</td>
	<td>{{stock}}</td>
	<td class="hidden-xs">{{genre}}</td>
	<td>{{score}}</td>
	<td class="actions">
		<!-- MODIFY -->
		<a href="/admin-modify-product/{{id}}" class="on-default edit-row">
			<button class="btn btn-primary btn-lg">
				<i class="fa fa-pencil"></i>
			</button>
		</a>
		<!-- / MODIFY -->
		
		<!-- DELETE -->
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#defaultModal" onclick="modalRemove({{id}});">
			<i class="fa fa-trash-o"></i>
		</button>
		<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="defaultModalLabel">Are you sure to want delete this product?</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-footer">
						<a href="/admin/product/remove/{{id}}" id="modalConfirm" class="on-default remove-row">
							<button type="button" class="btn btn-light">
								<i class="fa fa-trash-o"></i> Confirm
							</button>
						</a>
						<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- / DELETE -->
		
	</td>
</tr>