<!doctype html>

<html lang="en">

<html class="fixed">

	{{>admin/admin-head}}

	<body>
		<section class="body">

			{{>admin/admin-header}}

			<div class="inner-wrapper">
				
				{{> admin/admin-sidebar}}

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Users</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>User</span></li>
									
							</ol>
						</div>
					</header>

					<!-- start: page -->
						
						<section class="panel">
								<div class="panel-title-sign mt-xl text-right">
									<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i>Edit Profile</h2>
								</div>
								
								<div class="panel-body">
									<form action="/admin/user/editProfile" method="post">
										<div class="form-group mb-lg">
										
											<label>User Name</label>
											<input name="name" type="text" class="form-control input-lg" value="{{user.name}}" disabled/>
										</div>
										
										<div class="form-group mb-lg">
											<label>Password</label>
											<input name="passwordHash" type="password" class="form-control input-lg" value="{{user.passwordHash}}"/>
										</div>
							
										<div class="form-group mb-lg">
											<label>DNI</label>
											<input name="dni" type="text" class="form-control input-lg"  value="{{user.dni}}" />
										</div>
										
										<div class="form-group mb-lg">
											<label>Email</label>
											<input name="email" type="email" class="form-control input-lg" value="{{user.email}}" />
										</div>
										
										<div class="form-group mb-lg">
											<label>Telephone</label>
											<input name="telephone" type="number" class="form-control input-lg" value="{{user.telephone}}" />
										</div>
										
										<div class="form-group mb-lg">
											<label>Address</label>
											<input name="address" type="text" class="form-control input-lg" value="{{user.address}}" />
										</div>
										
										<!-- <div class="form-group mb-lg">
											<label>Avatar</label>
											<input name="img" type="file" required/>
										</div>-->
										
										<footer class="panel-footer">
											<button class="btn btn-primary">Submit </button>
											<button type="reset" class="btn btn-default">Reset</button>
										</footer>
									
									</form>
								</div>
						</section>
					<!-- end: page -->
				</section>
			</div>

			
		</section>

		{{>admin/admin-footer}}
		
	</body>
</html>