<!doctype html>
<html class="fixed">

	{{>admin/admin-head}}

	<body>
		<section class="body">

			{{>admin/admin-header}}

			<div class="inner-wrapper">
				
				{{> admin/admin-sidebar}}

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Add product</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="index.html">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Products</span></li>
								<li><span>Add Product</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
						<div class="row">					
							
							<div class="col-md-12">
								<form id="form1" class="form-horizontal">
									<section class="panel">
										<header class="panel-heading">
											<h2 class="panel-title">New Product</h2>
										</header>
										<div class="panel-body">
											<div class="form-group">
												<label class="col-sm-3 control-label">Name</label>
												<div class="col-sm-8">
													<input type="text" name="name" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Description</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Type</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Genre</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Stock</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Price buy</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Price rent</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Score</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Trailer</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Director</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Cast</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Year</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Url image</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control">
												</div>
											</div>
										</div>
										<footer class="panel-footer">
											<button class="btn btn-primary">Submit </button>
											<button type="reset" class="btn btn-default">Reset</button>
										</footer>
									</section>
								</form>
							</div>
						</div>
					<!-- end: page -->
				</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>
			
								<ul>
									<li>
										<time datetime="2016-04-19T00:00+00:00">04/19/2016</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>
			
							<div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div>
			
						</div>
					</div>
				</div>
			</aside>
		</section>

		{{>admin/admin-footer}}

	</body>
</html>