      <section class="content">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">New Product</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label>Product Name</label>
                  <input type="text" class="form-control" placeholder="name" required  #name>
                </div>

                <div class="form-group">
                  <label>Product Description</label>
                  <input type="text" class="form-control" placeholder="description"  #description>
                </div>
                <div class="form-group">
                  <label>Product Type</label>
                  <input type="text" class="form-control" placeholder="type" required  #type>
                </div>
                <div class="form-group">
                  <label>Product Genre</label>
                  <input type="text" class="form-control" placeholder="genre" required #genre>
                </div>
                <div class="form-group">
                  <label>Stock</label>
                  <input type="number" class="form-control" placeholder="stock"  #stock>
                </div>
                <div class="form-group">
                  <label>Buy Price</label>
                  <input type="number" class="form-control" placeholder="pbuy"  #pbuy>
                </div>
                <div class="form-group">
                  <label>Rent Price</label>
                  <input type="number" class="form-control" placeholder="prent"  #prent>
                </div>
                <div class="form-group">
                    <label>Score</label>
                    <input type="number" class="form-control" placeholder="score" #score>
                </div>
                <div class="form-group">
                    <label>Trailer</label>
                    <input type="text" class="form-control" placeholder="trailer"  #trailer>
                </div>
                <div class="form-group">
                    <label>Director</label>
                    <input type="text" class="form-control" placeholder="director"  #director>
                </div>
                <div class="form-group">
                    <label>Cast</label>
                    <input type="text" class="form-control" placeholder="cast"  #cast>
                </div>
                <div class="form-group">
                    <label>Year</label>
                    <input type="number" class="form-control" placeholder="year"  #year>
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input type="text" class="form-control" placeholder="urlimg"  #urlimg>
                </div>
                <div *ngIf="!successMessage" class="pull-left">
                    <button  (click)="addProduct(name.value, description.value,type.value,genre.value,stock.value,pbuy.value,prent.value,score.value,trailer.value,director.value,cast.value,year.value)">Save</button>
                    <button (click)="cancel()">Cancel</button>
                </div>
            </div>
            </div>
          </div>
        </div>
      </section>
       <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>