
<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>


<br>
<div class="row">
  <div class="col-lg-6">

    <h4 class="heading-primary mt-4">Get in <strong>Touch</strong></h4>
    <p>Contact us if you have any question or suggestion to improve our site.</p>

    <hr>

    <h4 class="heading-primary">The <strong>Office</strong></h4>
    <ul class="list list-icons list-icons-style-3 mt-4">
        <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> Calle Tulipán, 28933 Móstoles, Madrid, Spain</li>
        <li><i class="fa fa-phone"></i> <strong>Phone:</strong> (+34) 677 238 461</li>
        <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">planetofthetapes@gmail.com</a></li>
    </ul>
    <div >
    <youtube-player
      [videoId]="id"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
    ></youtube-player>
   </div>
    <hr>

    <h4 class="heading-primary">Business <strong>Hours</strong></h4>
    <ul class="list list-icons list-dark mt-4">
        <li><i class="fa fa-clock-o"></i> Monday - Friday - 9am to 5pm</li>
        <li><i class="fa fa-clock-o"></i> Saturday - 9am to 2pm</li>
        <li><i class="fa fa-clock-o"></i> Sunday - Closed</li>
    </ul>

</div>
</div>

