.defaultimg {
    filter: brightness(65%);
}

@media (min-width: 992px){
    html:not(.sticky-header-active) #header.header-transparent .header-nav-main nav > ul > li > a {
        color: #000;
    }
}

html #footer.color-custom {
	background: #B0C6C6;
	border-top-color: #B0C6C6;
}

html #footer.color-custom .footer-ribbon {
	background: #66A1AB;
}

html #footer.color-custom .footer-ribbon:before {
	border-right-color: #66A1AB;
}

html #footer.color-custom .footer-copyright {
	background: #66A1AB;
	border-top-color: #66A1AB;
}

@media (min-width: 992px) {
	#header .header-nav.header-nav-stripe nav > ul > li:hover > a, #header .header-nav.header-nav-stripe nav > ul > li.open > a {
	    background-color: #66A1AB;
	}
}

.margin-custom {
	margin-top: 3em;
}

.col-centered {

    float: none;
    margin: 0 auto;
}

#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.heading.heading-middle-border h1, .heading.heading-middle-border h2, .heading.heading-middle-border h3, .heading.heading-middle-border h4, .heading.heading-middle-border h5, .heading.heading-middle-border h6 {
    display: block;
}