{{>head}}
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>

<body>

    <div class="body">
       
        {{>header}}
       
        <div role="main" class="main shop">

            <div class="container">

                <div class="row">
                    <div class="col">
                        <hr class="tall mt-4">
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <div class="featured-boxes">
                            <div class="row">
                                <div class="col">
                                    <div class="featured-box featured-box-primary text-left mt-2">
                                        <div class="box-content">
                                            <form method="post" action="">
                                                <table class="shop_table cart">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-remove">
                                                                &nbsp;
                                                            </th>
                                                            <th class="product-thumbnail">
                                                                &nbsp;
                                                            </th>
                                                            <th class="product-name">
                                                                Product
                                                            </th>
                                                            <th class="product-price">
                                                                Price
                                                            </th>
                                                       
                                                            <th class="product-subtotal">
                                                                Total
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#productsOrders}} {{>cartItem2}} {{/productsOrders}}
                                                        <tr>
                                                            <td class="actions" colspan="6">
                                                                <div class="actions-continue">
                                                                    <input href="/cart" type="submit" value="Update Cart" name="update_cart"  class="btn btn-light">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-boxes">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="featured-box featured-box-primary text-left mt-3 mt-lg-4">
                                        <div class="box-content">
                                            <h4 class="heading-primary text-uppercase mb-3">Total Price</h4>
                                            <table class="cart-totals">
                                                <tbody>
                                                    <tr class="cart-subtotal">
                                                        <th>
                                                            <strong>Subtotal</strong>
                                                        </th>
                                                        <td>
                                                            <strong><span class="amount">{{totalOrder}}</span></strong>
                                                        </td>
                                                    </tr>
                                                    <tr class="shipping">
                                                        <th>
                                                            Shipping
                                                        </th>
                                                        <td>
                                                            Free Shipping<input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
                                                        </td>
                                                    </tr>
                                                    <tr class="total">
                                                        <th>
                                                            <strong>Order Total</strong>
                                                        </th>
                                                        <td>
                                                            <strong><span class="amount">{{totalOrder}}</span></strong>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="featured-box featured-box-primary text-left mt-3 mt-lg-4">
                                        <div class="box-content">
                                            <h4 class="heading-primary">Payment</h4>

                                            <form action="/" id="frmPayment" method="post">
                                                <div class="form-row">
                                                    <div class="form-group col">
                                                        <div class="form-check form-check-inline">
                                                   			<input type="radio" id="" name="" > American Express
															<img src="/img/MasterCard.png"  data-lock-picture="/img/MasterCard.png" width="50" height="50" />
						
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col">
                                                       <div class="form-check form-check-inline">
                                                   			<input type="radio" id="" name="" > VISA
															<img src="/img/visa.png"  data-lock-picture="/img/visa.png" width="50" height="50" />
						
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col">
                                                        <div class="form-check form-check-inline">
                                                   			<input type="radio" id="" name="" > American Express
															<img src="/img/American.png"  data-lock-picture="/img/American.png" width="50" height="50" />
						
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <div class="actions-continue">
                            <a href="/checkout">
                            	<button type="button" class="btn btn-3d btn-primary mb-2">Pay <i class="fa fa-angle-right ml-1">
                            	</i></button>
							</a>
							
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    </div>

    {{>footer}}