{{>head}}
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
   
<body>

    <div class="body">
       
       {{>header}}
       
        <div role="main" class="main">

            <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
            <div id="googlemaps" class="google-map">
			<div id="map"></div>          
			<script>
			      var map;
			      function initMap() {
			        map = new google.maps.Map(document.getElementById('map'), {
			          center: {lat: 40.3359104, lng: -3.8790321},
			          zoom: 16
			        });
			        map.data.setStyle(function(feature) {
				          return {
				            title: feature.getProperty('name'),
				            optimized: false
				          };
				        });
				        map.data.addGeoJson(cities);
			      }			      
			      marker = new google.maps.Marker({
	                    map: map,
	                    position: new google.maps.LatLng(40.4335419, -3.6472188000000187)
	                });
			      var cities = {
			    	        type: 'FeatureCollection',
			    	        features: [{
			    	          type: 'Feature',
			    	          geometry: {type: 'Point', coordinates: [40.3359104, -3.8790321]},
			    	          properties: {name: 'POTT'}
			    	        }]
			      };
			 </script>
			 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq7XzgKFazBJqIthS2Ojq5-LjkrAurhG8&callback=initMap"async defer></script>
			 </div>

            <div class="container">

                <div class="row">
                    <div class="col-lg-6">

                        <div class="alert alert-success d-none mt-4" id="contactSuccess">
                            <strong>Success!</strong> Your message has been sent to us.
                        </div>

                        <div class="alert alert-danger d-none mt-4" id="contactError">
                            <strong>Error!</strong> There was an error sending your message.
                            <span class="text-1 mt-2 d-block" id="mailErrorMessage"></span>
                        </div>

                        <h2 class="mb-3 mt-2"><strong>Contact</strong> Us</h2>

                        <form id="contactForm" action="/simpleemail" method="POST">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label>Your name *</label>
                                    <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Your email address *</label>
                                    <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                                    <input type="hidden" value="" name="email" id="to">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Subject</label>
                                    <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
                                </div>
                            </div>
                           
                                    <input type="hidden" value="pottapes@gmail.com" name="to" id="to">
                                
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Message *</label>
                                    <textarea maxlength="5000" data-msg-required="Please enter your message." rows="5" class="form-control" name="body" id="message" required></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <input type="hidden" value="" name="from" id="from">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <input type="submit" value="Send Message" class="btn btn-primary btn-lg" data-loading-text="Loading..." >
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">

                        <h4 class="heading-primary mt-4">Get in <strong>Touch</strong></h4>
                        <p>Contact us if you have any question or suggestion to improve our site.</p>

                        <hr>

                        <h4 class="heading-primary">The <strong>Office</strong></h4>
                        <ul class="list list-icons list-icons-style-3 mt-4">
                            <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> Calle Tulipán, 28933 Móstoles, Madrid, Spain</li>
                            <li><i class="fa fa-phone"></i> <strong>Phone:</strong> (+34) 677 238 461</li>
                            <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">planetofthetapes@gmail.com</a></li>
                        </ul>

                        <hr>

                        <h4 class="heading-primary">Business <strong>Hours</strong></h4>
                        <ul class="list list-icons list-dark mt-4">
                            <li><i class="fa fa-clock-o"></i> Monday - Friday - 9am to 5pm</li>
                            <li><i class="fa fa-clock-o"></i> Saturday - 9am to 2pm</li>
                            <li><i class="fa fa-clock-o"></i> Sunday - Closed</li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>
     </div>
   
      

        {{>footer}}
        