<header id="header" class="header-narrow" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 0, 'stickySetTop': '0'}">
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="/">
									<img alt="planet_of_the_tapes" width="150" src="img/logo2.png">
								</a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <!--<div class="header-search d-none d-md-block">
                            <form id="searchForm" action="page-search-results.html" method="get">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>-->
                        <div class="header-nav header-nav-stripe">
                            <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="">
                                            <a class="nav-link" href="/">
													Home
												</a>
                                        </li>
                                        <li class="">
                                            <a class="nav-link" href="/plist">
													Series
												</a>
                                        </li>
                                        <li class="">
                                            <a class="nav-link" href="/plist">
													Movies
												</a>
                                        </li>
                                        <li class="">
                                            <a class="nav-link" href="/plist">
													Videogames
												</a>
                                        </li>
                                        <li class="">
                                            <a class="nav-link" href="contact.html">
													Contact
												</a>
                                        </li>
                                        {{#unlogged}}
                                        <li class="">
                                            <a class="nav-link" href="login.html">
													Login
												</a>
                                        </li>
                                        {{/unlogged}}{{#logged}}
                                        
                                         <div class="col-lg-7">
											<div class="row">
												<div class="col-lg-4 col-lg-offset-7 paddingNone userDropdownMenu">
													<ul class="nav navbar-nav">
														<li class="dropdown userdropmenu">
															<a data-toggle="dropdown">{{#user}} {{ name }} {{/user}}</a>
																<ul class="dropdown-menu userdrop">
																	<li><a href="/user_profile">Profile <span class="glyphicon glyphicon-user"></span></a></li>
																	{{#admin}}
																	<li><a href="/admin/">Admin Pannel <span class="glyphicon glyphicon-cog"></span></a></li>
																	{{/admin}}
																	<li><a href="/logout">Log out <span class="glyphicon glyphicon-log-out"></span></a></li>
																</ul>
														</li>
													</ul>
												</div>
											</div>
										</div>
										{{/logged}}
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
								<i class="fa fa-bars"></i>
							</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER -->