{{>head}}
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<body>

    <div class="body">
        
        {{>header}}
		
		{{#success}}
		<div style="margin-bottom:0px;" class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span></button>
			<strong><i class="fa fa-check"></i>Well done!</strong> {{success}}
		</div>
	    {{/success}}
	    
	    {{#error}}
			<div style="margin-bottom:0px;" class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span></button>
				<strong><i class="fa fa-warning"></i>Oopps!</strong> {{error}}
			</div>
	    {{/error}}
        
        <!-- SLIDES -->
        <!-- MAIN -->
        <div role="main" class="main">
            <div class="slider-container rev_slider_wrapper" style="height: 1000px;">
                <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'responsiveLevels': [4096,1200,992,500]}">
                    <ul>
                        <li data-transition="fade">
                        	<img src="img/slide/slide1.jpg"
								alt=""
								data-bgposition="center center" 
								data-bgfit="" 
								data-bgrepeat="no-repeat" 
								class="rev-slidebg"
								data-kenburns="on"
								data-duration="11000"
								data-ease="Linear.easeNone"
								data-scalestart="115"
								data-scaleend="100"
								data-rotatestart="0"
								data-rotateend="0"
								data-offsetstart="0 -200"
								data-offsetend="0 200"
								data-bgparallax="0">
                            <!-- <img src="img/slide/slide1.jpg" alt="BladeRunner2049" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">-->

                            <div class="tp-caption top-label" data-x="center" data-y="172" data-fontsize="['24','24','24','36']" data-start="500" data-transform_in="y:[-300%];opacity:0;s:500;"><strong>ENJOY</strong></div>

                            <div class="tp-caption main-label" data-x="center" data-y="['210','210','210','230']" data-start="1500" data-whitespace="nowrap" data-fontsize="['62','62','62','92']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;"><strong>THE BEST FILMS</strong></div>

                            <div class="tp-caption bottom-label" data-x="center" data-y="['280','280','280','315']" data-start="2000" data-fontsize="['20','20','20','40']" data-transform_in="y:[100%];opacity:0;s:500;"><strong>Check out our new movies list.</strong></div>

                            <a class="tp-caption btn btn-lg btn-light btn-slider-action" data-hash data-hash-offset="85" href="mplist?enlace=2" data-x="center" data-hoffset="0" data-y="center" data-voffset="['100','100','100','190']" data-start="2200" data-whitespace="nowrap" data-paddingtop="['20','20','20','40']" data-paddingbottom="['20','20','20','40']" data-paddingleft="['25','25','25','45']" data-paddingright="['25','25','25','45']" data-fontsize="['22','22','22','52']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Go to Movies!</a>

                        </li>
                        <li data-transition="fade">
                        <img src="img/slide/slide2.jpg"
								alt=""
								data-bgposition="center center" 
								data-bgfit="" 
								data-bgrepeat="no-repeat" 
								class="rev-slidebg"
								data-kenburns="on"
								data-duration="11000"
								data-ease="Linear.easeNone"
								data-scalestart="115"
								data-scaleend="100"
								data-rotatestart="0"
								data-rotateend="0"
								data-offsetstart="0 -200"
								data-offsetend="0 200"
								data-bgparallax="0">
                            <!-- <img src="img/slide/slide2.jpg" alt="monsterhunter" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">-->

                            <div class="tp-caption top-label" data-x="center" data-y="172" data-fontsize="['24','24','24','36']" data-start="500" data-transform_in="y:[-300%];opacity:0;s:500;"><strong>PLAY THE</strong></div>

                            <div class="tp-caption main-label" data-x="center" data-y="['210','210','210','230']" data-start="1500" data-whitespace="nowrap" data-fontsize="['62','62','62','92']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;">LAST VIDEOGAMES</div>

                            <div class="tp-caption bottom-label" data-x="center" data-y="['280','280','280','315']" data-start="2000" data-fontsize="['20','20','20','40']" data-transform_in="y:[100%];opacity:0;s:500;"><strong>Try the best actual videogames.</strong></div>

                            <a class="tp-caption btn btn-lg btn-light btn-slider-action" data-hash data-hash-offset="85" href="mplist?enlace=3" data-x="center" data-hoffset="0" data-y="center" data-voffset="['100','100','100','190']" data-start="2200" data-whitespace="nowrap" data-paddingtop="['20','20','20','40']" data-paddingbottom="['20','20','20','40']" data-paddingleft="['25','25','25','45']" data-paddingright="['25','25','25','45']" data-fontsize="['22','22','22','52']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Go to Games!</a>

                        </li>
                        <li data-transition="fade">
                        <img src="img/slide/slide3.jpg"
								alt=""
								data-bgposition="center center" 
								data-bgfit="" 
								data-bgrepeat="no-repeat" 
								class="rev-slidebg"
								data-kenburns="on"
								data-duration="11000"
								data-ease="Linear.easeNone"
								data-scalestart="115"
								data-scaleend="100"
								data-rotatestart="0"
								data-rotateend="0"
								data-offsetstart="0 -200"
								data-offsetend="0 200"
								data-bgparallax="0">
                            <!-- <img src="img/slide/slide3.jpg" alt="americahorrorhistory" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">-->

                            <div class="tp-caption top-label" data-x="center" data-y="172" data-fontsize="['24','24','24','36']" data-start="500" data-transform_in="y:[-300%];opacity:0;s:500;"><strong>DO YOU WANT</strong></div>

                            <div class="tp-caption main-label" data-x="center" data-y="['210','210','210','230']" data-start="1500" data-whitespace="nowrap" data-fontsize="['62','62','62','92']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;">SERIES AND CHILL?</div>

                            <div class="tp-caption bottom-label" data-x="center" data-y="['280','280','280','315']" data-start="2000" data-fontsize="['20','20','20','40']" data-transform_in="y:[100%];opacity:0;s:500;"><strong>Watch the most valued series.</strong></div>

                            <a class="tp-caption btn btn-lg btn-light btn-slider-action" data-hash data-hash-offset="85" href="mplist?enlace=1" data-x="center" data-hoffset="0" data-y="center" data-voffset="['100','100','100','190']" data-start="2200" data-whitespace="nowrap" data-paddingtop="['20','20','20','40']" data-paddingbottom="['20','20','20','40']" data-paddingleft="['25','25','25','45']" data-paddingright="['25','25','25','45']" data-fontsize="['22','22','22','52']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Go to Series!</a>

                        </li>
                    </ul>
                </div>
            </div>

            <!-- END SLIDES -->
            
            <ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
            </ul>
			
			<!-- SERIES -->
			<div class="heading heading-border heading-middle-border heading-middle-border-center">            
            	<div class="container margin-custom">
                    <h1><strong>Series</strong></h1>
                	<a style="margin-top:15px;" class="btn btn-3d btn-primary mb-2" href="mplist?enlace=1">Show all Series!</a>
	                <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
	                    <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
	                        {{#series}} {{>items}} {{/series}}                        
	                    </div>
	                </div>
	            </div>
            </div>
            <!-- END SERIES -->

			<!-- MOVIES -->
			<div class="heading heading-border heading-middle-border heading-middle-border-center">            
            	<div class="container">
                    <h1><strong>Movies</strong></h1>
                	<a style="margin-top:15px;" class="btn btn-3d btn-primary mb-2" href="mplist?enlace=2">Show all Movies!</a>
	                <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
	                    <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
	                        {{#movies}} {{>items}} {{/movies}}  
	                    </div>
	                </div>
                </div>
            </div>
            <!-- END MOVIES -->

			<!-- VIDEOGAMES -->
			<div class="heading heading-border heading-middle-border heading-middle-border-center">
            	<div class="container">
                    <h1><strong>Videogames</strong></h1>
                    <a style="margin-top:15px;" class="btn btn-3d btn-primary mb-2" href="mplist?enlace=3">Show all Videogames!</a>	
	                <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
	                    <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
	                        {{#videogames}} {{>items}} {{/videogames}} 
	                    </div>
	                </div>
                </div>
            </div>
            <!-- END VIDEOGAMES -->
            <!-- PACKS -->
            <div class="heading heading-border heading-middle-border heading-middle-border-center">
            	<div class="container">
                    <h1><strong>Packs</strong></h1>
                    <a style="margin-top:15px;" class="btn btn-3d btn-primary mb-2" href="mplist?enlace=4">Show all Packs!</a>	
	                <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
	                    <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
	                        {{#packs}} {{>itempacks}} {{/packs}} 
	                    </div>
	                </div>
                </div>
            </div>

        </div>
        <!-- END MAIN -->

	{{>footer}}
