{{>head}}

<body>

    <div class="body">
        
        {{>header}}	

        <!-- SLIDES -->
        <!-- MAIN -->
        <div role="main" class="main">
            <div class="slider-container rev_slider_wrapper" style="height: 1000px;">
                <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'responsiveLevels': [4096,1200,992,500]}">
                    <ul>
                        <li data-transition="fade">
                            <img src="img/slide/slide1.jpg" alt="BladeRunner2049" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

                            <div class="tp-caption top-label" data-x="center" data-y="172" data-fontsize="['24','24','24','36']" data-start="500" data-transform_in="y:[-300%];opacity:0;s:500;"><strong>ENJOY</strong></div>

                            <div class="tp-caption main-label" data-x="center" data-y="['210','210','210','230']" data-start="1500" data-whitespace="nowrap" data-fontsize="['62','62','62','92']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;"><strong>THE BEST FILMS</strong></div>

                            <div class="tp-caption bottom-label" data-x="center" data-y="['280','280','280','315']" data-start="2000" data-fontsize="['20','20','20','40']" data-transform_in="y:[100%];opacity:0;s:500;"><strong>Check out our new movies list.</strong></div>

                            <a class="tp-caption btn btn-lg btn-light btn-slider-action" data-hash data-hash-offset="85" href="plist.html" data-x="center" data-hoffset="0" data-y="center" data-voffset="['100','100','100','190']" data-start="2200" data-whitespace="nowrap" data-paddingtop="['20','20','20','40']" data-paddingbottom="['20','20','20','40']" data-paddingleft="['25','25','25','45']" data-paddingright="['25','25','25','45']" data-fontsize="['22','22','22','52']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Go to Movies!</a>

                        </li>
                        <li data-transition="fade">
                            <img src="img/slide/slide2.jpg" alt="monsterhunter" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

                            <div class="tp-caption top-label" data-x="center" data-y="172" data-fontsize="['24','24','24','36']" data-start="500" data-transform_in="y:[-300%];opacity:0;s:500;"><strong>PLAY THE</strong></div>

                            <div class="tp-caption main-label" data-x="center" data-y="['210','210','210','230']" data-start="1500" data-whitespace="nowrap" data-fontsize="['62','62','62','92']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;">LAST VIDEOGAMES</div>

                            <div class="tp-caption bottom-label" data-x="center" data-y="['280','280','280','315']" data-start="2000" data-fontsize="['20','20','20','40']" data-transform_in="y:[100%];opacity:0;s:500;"><strong>Try the best actual videogames.</strong></div>

                            <a class="tp-caption btn btn-lg btn-light btn-slider-action" data-hash data-hash-offset="85" href="plist.html" data-x="center" data-hoffset="0" data-y="center" data-voffset="['100','100','100','190']" data-start="2200" data-whitespace="nowrap" data-paddingtop="['20','20','20','40']" data-paddingbottom="['20','20','20','40']" data-paddingleft="['25','25','25','45']" data-paddingright="['25','25','25','45']" data-fontsize="['22','22','22','52']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Go to Games!</a>

                        </li>
                        <li data-transition="fade">
                            <img src="img/slide/slide3.jpg" alt="americahorrorhistory" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

                            <div class="tp-caption top-label" data-x="center" data-y="172" data-fontsize="['24','24','24','36']" data-start="500" data-transform_in="y:[-300%];opacity:0;s:500;"><strong>DO YOU WANT</strong></div>

                            <div class="tp-caption main-label" data-x="center" data-y="['210','210','210','230']" data-start="1500" data-whitespace="nowrap" data-fontsize="['62','62','62','92']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;">SERIES AND CHILL?</div>

                            <div class="tp-caption bottom-label" data-x="center" data-y="['280','280','280','315']" data-start="2000" data-fontsize="['20','20','20','40']" data-transform_in="y:[100%];opacity:0;s:500;"><strong>Watch the most valued series.</strong></div>

                            <a class="tp-caption btn btn-lg btn-light btn-slider-action" data-hash data-hash-offset="85" href="plist.html" data-x="center" data-hoffset="0" data-y="center" data-voffset="['100','100','100','190']" data-start="2200" data-whitespace="nowrap" data-paddingtop="['20','20','20','40']" data-paddingbottom="['20','20','20','40']" data-paddingleft="['25','25','25','45']" data-paddingright="['25','25','25','45']" data-fontsize="['22','22','22','52']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Go to Series!</a>

                        </li>
                    </ul>
                </div>
            </div>

            <!-- END SLIDES -->

            <!-- SERIES -->

            <div class="container margin-custom">

                <div class="heading heading-border heading-middle-border heading-middle-border-center">
                    <a href="plist.html">
                        <h2><strong>Series</strong></h2>
                    </a>
                </div>

                <ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
                </ul>

                <a class="tp-caption btn btn-lg btn-light btn-slider-action" data-hash data-hash-offset="85" href="plist.html" data-x="center" data-hoffset="0" data-y="center" data-voffset="['100','100','100','190']" data-start="2200" data-whitespace="nowrap" data-paddingtop="['20','20','20','40']" data-paddingbottom="['20','20','20','40']" data-paddingleft="['25','25','25','45']" data-paddingright="['25','25','25','45']" data-fontsize="['22','22','22','52']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Show all Series!</a>

                <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
                    <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item brands" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="0.5s">
                            <div class="portfolio-item">
                                <a href="product.html">
										<span class="thumb-info thumb-info-lighten">
											<span class="thumb-info-wrapper">
												<img src="img/Series/BBT.jpg" class="img-fluid" alt="">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Big Bang Theory</span>
													<span class="thumb-info-type">Watch it!!</span>
												</span>
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</span>
										</span>
									</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item medias" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">
                            <div class="portfolio-item">
                                <a href="product.html">
										<span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
											<span class="thumb-info-wrapper">
												<span class="owl-carousel owl-theme nav-inside m-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 3000}">
													<span>
														<img src="img/Series/breaking-bad-.jpg" class="img-fluid" alt="">
													</span>
													<span>
														<img src="img/Series/LQSA.jpg" class="img-fluid" alt="">
													</span>
												</span>

												<span class="thumb-info-title">
													<span class="thumb-info-inner">Drugs Pack</span>
													<span class="thumb-info-type">White Christmas</span>
												</span>
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</span>
										</span>
									</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item medias" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="1.5s">
                            <div class="portfolio-item">
                                <a href="product.html">
										<span class="thumb-info thumb-info-lighten">
											<span class="thumb-info-wrapper">
												<img src="img/Series/Narcos.jpg" class="img-fluid" alt="">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">La que se avecina</span>
													<span class="thumb-info-type">Hostia terrible!</span>
												</span>
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</span>
										</span>
									</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item websites" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="2s">
                            <div class="portfolio-item">
                                <a href="product.html">
										<span class="thumb-info thumb-info-lighten">
											<span class="thumb-info-wrapper">
												<img src="img/Series/Los-Simpson-Wallpapers-3.jpg" class="img-fluid" alt="">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">The craziest family</span>
													<span class="thumb-info-type">Enjoy the last chapters</span>
												</span>
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</span>
										</span>
									</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SERIES -->

            <!-- MOVIES -->
            <div class="container">

                <div class="heading heading-border heading-middle-border heading-middle-border-center">
                    <a href="plist.html">
                        <h2><strong>Movies</strong></h2>
                    </a>
                </div>

                <ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
                </ul>

                <a class="tp-caption btn btn-lg btn-light btn-slider-action" data-hash data-hash-offset="85" href="plist.html" data-x="center" data-hoffset="0" data-y="center" data-voffset="['100','100','100','190']" data-start="2200" data-whitespace="nowrap" data-paddingtop="['20','20','20','40']" data-paddingbottom="['20','20','20','40']" data-paddingleft="['25','25','25','45']" data-paddingright="['25','25','25','45']" data-fontsize="['22','22','22','52']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Show all Movies!</a>

                <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
                    <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item brands" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="0.5s">
                            <div class="portfolio-item">
                                <a href="product.html">
                                    <!-- reference to the product page -->
                                    <span class="thumb-info thumb-info-lighten">
											<span class="thumb-info-wrapper">
												<img src="img/Films/Alien.jpg" class="img-fluid" alt="">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Alien</span>
                                    <span class="thumb-info-type">Sci-Fi</span>
                                    </span>
                                    <span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                                    </span>
                                    </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item medias" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">
                            <div class="portfolio-item">
                                <a href="product.html">
										<span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
											<span class="thumb-info-wrapper">
												<span class="owl-carousel owl-theme nav-inside m-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 3000}">
													<span>
														<img src="img/Films/BladeRunner2049.jpg" class="img-fluid" alt="">
													</span>
													<span>
														<img src="img/Films/BTTF.jpg" class="img-fluid" alt="">
													</span>
												</span>

												<span class="thumb-info-title">
													<span class="thumb-info-inner">Back to the future</span>
													<span class="thumb-info-type">Comedy</span>
												</span>
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</span>
										</span>
									</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item medias" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="1.5s">
                            <div class="portfolio-item">
                                <a href="product.html">
										<span class="thumb-info thumb-info-lighten">
											<span class="thumb-info-wrapper">
												<img src="img/Films/NightmareElmStreet.png" class="img-fluid" alt="">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Freddy</span>
													<span class="thumb-info-type">Terror</span>
												</span>
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</span>
										</span>
									</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item websites" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="2s">
                            <div class="portfolio-item">
                                <a href="product.html">
										<span class="thumb-info thumb-info-lighten">
											<span class="thumb-info-wrapper">
												<img src="img/Films/TLOTR_FL.jpg" class="img-fluid" alt="">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">TLOTR</span>
													<span class="thumb-info-type">Fantasy</span>
												</span>
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</span>
										</span>
									</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MOVIES -->

            <!-- VIDEOGAMES -->
            <div class="container">

                <div class="heading heading-border heading-middle-border heading-middle-border-center">
                    <a href="plist.html">
                        <h2><strong>Videogames</strong></h2>
                    </a>
                </div>

                <ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
                </ul>

                <a class="tp-caption btn btn-lg btn-light btn-slider-action" data-hash data-hash-offset="85" href="plist.html" data-x="center" data-hoffset="0" data-y="center" data-voffset="['100','100','100','190']" data-start="2200" data-whitespace="nowrap" data-paddingtop="['20','20','20','40']" data-paddingbottom="['20','20','20','40']" data-paddingleft="['25','25','25','45']" data-paddingright="['25','25','25','45']" data-fontsize="['22','22','22','52']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Show all Videogames!</a>

                <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
                    <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item brands" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="0.5s">
                            <div class="portfolio-item">
                                <a href="product.html">
										<span class="thumb-info thumb-info-lighten">
											<span class="thumb-info-wrapper">
												<img src="img/Games/pc-monsterhunter.jpg" class="img-fluid" alt="">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">MHW</span>
													<span class="thumb-info-type">Try it!!</span>
												</span>
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</span>
										</span>
									</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item medias" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">
                            <div class="portfolio-item">
                                <a href="product.html">
										<span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
											<span class="thumb-info-wrapper">
												<span class="owl-carousel owl-theme nav-inside m-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 3000}">
													<span>
														<img src="img/Games/ps4-bloodborne.jpg" class="img-fluid" alt="">
													</span>
													<span>
														<img src="img/Games/ps4-horizon.jpg" class="img-fluid" alt="">
													</span>
												</span>

												<span class="thumb-info-title">
													<span class="thumb-info-inner">PS4</span>
													<span class="thumb-info-type">Most valued</span>
												</span>
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</span>
										</span>
									</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item medias" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="1.5s">
                            <div class="portfolio-item">
                                <a href="product.html">
                                    <!-- IRIA A LA PAGINA ESPECIFICA DEL PRODUCTO -->
                                    <span class="thumb-info thumb-info-lighten">
											<span class="thumb-info-wrapper">
												<img src="img/Games/switch-mario.jpg" class="img-fluid" alt="">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Super Mario Odyssey</span>
                                    <span class="thumb-info-type">Best videogame of 2017</span>
                                    </span>
                                    <span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                                    </span>
                                    </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 isotope-item websites" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="2s">
                            <div class="portfolio-item">
                                <a href="product.html">
										<span class="thumb-info thumb-info-lighten">
											<span class="thumb-info-wrapper">
												<img src="img/Games/xone-gears4.jpg" class="img-fluid" alt="">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">GOW4</span>
													<span class="thumb-info-type">Rent it!</span>
												</span>
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</span>
										</span>
									</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="tp-caption btn btn-lg btn-light btn-slider-action" data-hash data-hash-offset="85" href="plist.html" data-x="center" data-hoffset="0" data-y="center" data-voffset="['100','100','100','190']" data-start="2200" data-whitespace="nowrap" data-paddingtop="['20','20','20','40']" data-paddingbottom="['20','20','20','40']" data-paddingleft="['25','25','25','45']" data-paddingright="['25','25','25','45']" data-fontsize="['22','22','22','52']" data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5" data-mask_in="x:0px;y:0px;">Show all Videogames!</a>
            </div>
            <!-- END MOVIES -->

        </div>
        <!-- END MAIN -->

	{{>footer}}
