<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<div class="col-md-3 col-sm-3 col-lg-3 isotope-item" data-appear-animation="fadeIn" data-appear-animation-delay="0" data-appear-animation-duration="1.5s">
  	<div class="portfolio-item">
		<a href="/pack/{{id}}">
			<span class="thumb-info thumb-info-lighten">
				<span class="thumb-info-wrapper">

					<img src="/img/ProductImages/{{img}}" class="img-fluid"/>

					<span class="thumb-info-title">
						<span class="thumb-info-inner">{{name}}</span>
					</span>
					<span class="thumb-info-action">
						<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
					</span>
				</span>
			</span>
		</a>
    </div>
</div>