
{{>head}}

<body>

	{{>header}}

    <div class="body">

        <div role="main" class="main">
            <div class="featured-boxes">
                <div class="row">
                    <div class="col-md-6 col-centered">
                        
                        <div class="featured-box featured-box-primary text-left mt-2">
                            <div class="box-content" style="text-align: center">
                                <h4 class="heading-primary"><span>Sign In</span></h4>

                                <form id="login-form" action="/login" method="post">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            Name: <input id="name" class="form-control for -control-lg" name="name" type="text" placeholder="Name" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            Password: <input id="password" class="form-control for -control-lg" name="password" type="password" placeholder="Password" required>
                                        </div>
                                    </div>
                                    {{#loginError}}
                        				<div class="errorLogin">Wrong Data. Please, try again.</div>
                        			{{/loginError}}
                                    <div class="row">
                                        <div class="col">
 											<div class="col-sm-4 text-right">
                                                    <button type="submit" class="btn float-right btn-primary btn-lg">Sign In
                                                        <i class="fa fa-angle-right ml-1">
                                                        </i>
                                                    </button>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="mt-lg mb-lg line-thru text-center text-uppercase">
										<span>or</span>
									</span>
									<a href="/register"><button id="login_register_btn" type="button" class="btn btn-link">Don't you have an account yet?</button></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        {{>footer}}