
{{>head}}

<body>

    <div class="body">
       
       {{>header}}
       
        <div class="container">

            <p></p>
            <div class="heading heading-border heading-middle-border heading-middle-border-center">
                <h2><strong>{{products.0.type}}</strong></h2>
            </div>

            <ul id="portfolioLoadMoreFilter" class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
                <li class="nav-item" data-option-value="*"><a class="nav-link active" href="#">Show All</a></li>
                <li class="nav-item" data-option-value=".Terror"><a class="nav-link" href="#">Terror</a></li>
                <li class="nav-item" data-option-value=".Comedy"><a class="nav-link" href="#">Comedy</a></li>
                <li class="nav-item" data-option-value=".Fantasy"><a class="nav-link" href="#">Fantasy</a></li>
                <li class="nav-item" data-option-value=".Sci-fi"><a class="nav-link" href="#">Sci-Fi</a></li>
            </ul>

            <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
                <div id="portfolioLoadMoreWrapper" class="row portfolio-list sort-destination" data-sort-id="portfolio" data-total-pages="3">
                    {{#products}} {{>items}} {{/products}}
                </div>

                <div id="portfolioLoadMoreBtnWrapper" class="row">
                    <div class="col">

                        <div id="portfolioLoadMoreLoader" class="portfolio-load-more-loader">
                            <div class="bounce-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
						
						<!-- <button id="portfolioLoadMore-custom" type="button" class="btn-portfolio-infinite-scroll btn btn-3d btn-light btn-lg btn-block text-1 text-uppercase outline-none mb-5 p-3">Load More...</button>-->
                        <button id="portfolioLoadMore-custom" type="button" class="btn btn-3d btn-light btn-lg btn-block text-1 text-uppercase outline-none mb-5 p-3">Load More...</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

	{{>footer}}