
{{>head}}

<body>

    <div class="body">
       
       {{>header}}
       
        <div class="container">

            <p></p>
            <div class="heading heading-border heading-middle-border heading-middle-border-center">
                <h2><strong>Movies</strong></h2>
            </div>

            <ul id="portfolioLoadMoreFilter" class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
                <li class="nav-item" data-option-value="*"><a class="nav-link active" href="#">Show All</a></li>
                <li class="nav-item" data-option-value=".terror"><a class="nav-link" href="#">Terror</a></li>
                <li class="nav-item" data-option-value=".comedy"><a class="nav-link" href="#">Romantic Comedy</a></li>
                <li class="nav-item" data-option-value=".fantasy"><a class="nav-link" href="#">Fantasy</a></li>
                <li class="nav-item" data-option-value=".scifi"><a class="nav-link" href="#">Sci-Fi</a></li>
            </ul>

            <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
                <div id="portfolioLoadMoreWrapper" class="row portfolio-list sort-destination" data-sort-id="portfolio" data-total-pages="3">
                    <div class="col-12 col-sm-6 col-lg-3 isotope-item terror" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="0.5s">
                        <div class="portfolio-item">
                            <a href="product.html">
								<span class="thumb-info thumb-info-lighten">
									<span class="thumb-info-wrapper">
										<img src="img/Films/Alien.jpg" class="img-fluid" alt="">
										<span class="thumb-info-title">
											<span class="thumb-info-inner">Alien</span>
											<span class="thumb-info-type">Terror</span>
										</span>
										<span class="thumb-info-action">
											<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
										</span>
									</span>
								</span>
							</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 isotope-item scifi" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="1s">
                        <div class="portfolio-item">
                            <a href="product.html">
								<span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
									<span class="thumb-info-wrapper">
										<span class="owl-carousel owl-theme nav-inside m-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 3000}">
											<span>
												<img src="img/Films/BladeRunner.jpg" class="img-fluid" alt="">
											</span>
											<span>
												<img src="img/Films/BladeRunner2049.jpg" class="img-fluid" alt="">
											</span>
										</span>

										<span class="thumb-info-title">
											<span class="thumb-info-inner">Blade Runner</span>
											<span class="thumb-info-type">Pack</span>
										</span>
										<span class="thumb-info-action">
											<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
										</span>
									</span>
								</span>
							</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 isotope-item fantasy" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="1.5s">
                        <div class="portfolio-item">
                            <a href="product.html">
								<span class="thumb-info thumb-info-lighten">
									<span class="thumb-info-wrapper">
										<img src="img/Films/TLOTR_FL.jpg" class="img-fluid" alt="">
										<span class="thumb-info-title">
											<span class="thumb-info-inner">The Lord Of The Rings</span>
											<span class="thumb-info-type">Fantasy</span>
										</span>
										<span class="thumb-info-action">
											<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
										</span>
									</span>
								</span>
							</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 isotope-item comedy" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="2s">
                        <div class="portfolio-item">
                            <a href="product.html">
								<span class="thumb-info thumb-info-lighten">
									<span class="thumb-info-wrapper">
										<img src="img/Films/BridgetJonesDiary.jpg" class="img-fluid" alt="">
										<span class="thumb-info-title">
											<span class="thumb-info-inner">Bridget Jones Diary</span>
											<span class="thumb-info-type">Romantic Commedy</span>
										</span>
										<span class="thumb-info-action">
											<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
										</span>
									</span>
								</span>
							</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 isotope-item scifi" data-appear-animation="fadeInUp" data-appear-animation-delay="0" data-appear-animation-duration="2.5s">
                        <div class="portfolio-item">
                            <a href="product.html">
								<span class="thumb-info thumb-info-lighten">
									<span class="thumb-info-wrapper">
										<img src="img/Films/BTTF.jpg" class="img-fluid" alt="">
										<span class="thumb-info-title">
											<span class="thumb-info-inner">Back to the Future</span>
											<span class="thumb-info-type">Sci-Fi</span>
										</span>
										<span class="thumb-info-action">
											<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
										</span>
									</span>
								</span>
							</a>
                        </div>
                    </div>
                </div>

                <div id="portfolioLoadMoreBtnWrapper" class="row">
                    <div class="col">

                        <div id="portfolioLoadMoreLoader" class="portfolio-load-more-loader">
                            <div class="bounce-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>

                        <button id="portfolioLoadMore-custom" type="button" class="btn btn-3d btn-light btn-lg btn-block text-1 text-uppercase outline-none mb-5 p-3">Load More...</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

	{{>footer}}