
{{>head}}

<body>

    <div class="body">
        
        {{>header}}
        
        <div role="main" class="main">
            <div class="featured-boxes">
                <div class="row">
                    <div class="col-md-6 col-centered">
                        
                        <div class="featured-box featured-box-primary text-left mt-2">
                            <div class="box-content" style="text-align: center">
                                <h4 class="heading-primary"><span>ENTER YOUR DATA</span></h4>



                                <form action="/" id="selectPay">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            Full Name: <input value="" class="form-control for -control-lg" type="text">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            Card Number: <input value="" class="form-control form-control-lg" type="text">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            CVV: <input value="" class="form-control form-control-lg" type="text">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            ID Card: <input value="" class="form-control form-control-lg" type="text">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            Card expiration date(mm/dd/yyyy): <input value="" class="form-control form-control-lg" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="actions-continue">
                                                <a href="index.html">
                                                    <button type="submit" value="index.html" class="btn float-right btn-primary btn-lg">Pay
                                                        <i class="fa fa-angle-right ml-1">
                                                        </i>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        {{>footer}}

        