<section>
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th width="14%">Name</th>
        <th width="8%">Director</th>
        <th width="5%">Genre</th>
        <th width="5%">Type</th>
        <th width="3%">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.director }}</td>
          <td>{{ product.genre }}</td>
          <td>{{ product.type }}</td>  
          <td>
          <a [routerLink]="['edit', product.id]">
            <button type="button" class="btn btn-success"><span class="fa fa-pencil"></span></button>
          </a>
            <button type="button" class="btn btn-warning" (click)="deleteProduct(product.id)"><span class="fa fa-trash"></span></button>
          </td>
        </tr>
    </tbody>
    
          
  </table>
  <div class="pull-left">
    <a [routerLink]="['./new']">
      <button type="button" class="btn btn-primary"><span class="fa fa-plus-circle">  </span>&nbsp;New product</button>
    </a>
  </div>
  <br>
  <br>
</section>