<div class="row">
  <div class="col-sm-12">
    
        <h1 style="text-align: center">Movies</h1>
          <div class="listItems">
            <div *ngIf="products.length == 0; else chargedProducts">
              <img src="../../../../assets/img/img.png" style="margin-left: 40%;">
            </div>
            <ng-template #chargedProducts>
              <ng-template ngFor let-product [ngForOf]="products">
                <div class="row item">
                  <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="coverItem">
                      <div *ngIf="product.urlimg == undefined; else chargedImage">
                        <img src="../../../../assets/img/img.png" width="50px" height="150px" align="middle">
                      </div>
                      <ng-template #chargedImage>
                        <img [src]="sanitizer.bypassSecurityTrustUrl(img_url + product.urlimg)" class="img-responsive"/>
                      </ng-template>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-8 col-lg-7 informationItem">
                    <h3 class="name">{{product.name}}</h3>
                    <h5 class="genre">Genre: {{product.genre}}</h5>
                    <div class="description">
                      <p>
                        {{product.description}}
                        <span>...</span>
                      </p>
                    </div>
                    <h5 class="price">Price: {{product.pbuy}}</h5>
                    <a [routerLink]="['/product', product.id]"><button class="btn">Go to shopping</button></a>
                  </div>
                </div>
              </ng-template>
            </ng-template>
          </div>
        
      
    
  </div>
</div>
